- name: Ensure Git is installed (Debian/Ubuntu)
  apt:
    name: git
    state: present
    update_cache: yes
  become: true
  when: ansible_os_family == "Debian"

- name: Clone or update bash aliases repository
  ansible.builtin.git:
    repo: https://github.com/jcnichols22/dotfiles.git
    dest: /home/josh/dotfiles
    update: yes

- name: Link bash aliases file to home if not already linked
  ansible.builtin.file:
    src: /home/josh/dotfiles/.bash_aliases
    dest: /home/josh/.bash_aliases
    state: link
    force: yes
    # Optionally become: true if /home/josh is not your user
