[Unit]
Description=Syncthing for user {{ syncthing_user }}
After=network.target

[Service]
User={{ syncthing_user }}
Group={{ syncthing_user }}
ExecStart=/usr/bin/syncthing -no-browser -gui-address={{ syncthing_gui_address }}
Restart=on-failure
SuccessExitStatus=3 4
RestartSec=5

[Install]
WantedBy=multi-user.target
