---
# Configure Syncthing synchronization between workstations
# This playbook sets up folder sync between multiple workstations

- name: Setup Syncthing sync for workstations
  hosts: workstations
  become: true
  gather_facts: true

  vars:
    syncthing_user: "josh"

    # Define devices - get these IDs after initial installation
    # Run: ssh <host> "syncthing --device-id" to get each device's ID
    syncthing_devices:
      - name: "Workstation1"
        id: "REPLACE-WITH-ACTUAL-DEVICE-ID-1"
        addresses: "dynamic"
      - name: "Workstation2"
        id: "REPLACE-WITH-ACTUAL-DEVICE-ID-2"
        addresses: "dynamic"

    # Define folders to sync
    syncthing_folders:
      - id: "documents"
        label: "Documents"
        path: "/home/{{ syncthing_user }}/Documents"
        devices:
          - "Workstation1"
          - "Workstation2"
        type: "sendreceive"
        rescan_interval: 3600

      - id: "pictures"
        label: "Pictures"
        path: "/home/{{ syncthing_user }}/Pictures"
        devices:
          - "Workstation1"
          - "Workstation2"
        type: "sendreceive"
        rescan_interval: 3600

  roles:
    - syncthing

  post_tasks:
    - name: Display sync status
      ansible.builtin.debug:
        msg: "Syncthing configured on {{ ansible_hostname }} with {{ syncthing_folders | length }} folders"
      tags: syncthing
