---
# This playbook updates all packages on the specified LXC containers.
- name: Update LXC containers
  hosts: lxc_containers
  vars:
    ansible_user: ansible
  become: true
  # users variable now loaded automatically from group_vars/all.yml

  tasks:
    - name: Update package cache
      apt:
        update_cache: true

    - name: Upgrade all packages
      apt:
        # 'upgrade: dist' performs a dist-upgrade, which may remove packages.
        upgrade: dist
        autoremove: true
        autoclean: true
