- name: Ensure snapd is installed (Debian/Ubuntu)
  apt:
    name: snapd
    state: present
    update_cache: yes
  become: true
  when: ansible_os_family == "Debian"

- name: Install snap packages
  community.general.snap:
    name: "{{ snap_apps }}"
    state: present
  become: true
  when: snap_apps is defined and snap_apps | length > 0

- name: Install apt packages
  apt:
    name: "{{ apt_apps }}"
    state: present
    update_cache: yes
  become: true
  when: ansible_os_family == "Debian" and apt_apps is defined and apt_apps | length > 0
